In [55]:
import mysql.connector
import pandas as pd
import xlrd
import numpy as np
import openpyxl
# tạo đối tượng connection
myconn = mysql.connector.connect(host = "localhost", user = "root", 
    passwd = "trinhhoi890",auth_plugin='mysql_native_password',database="nds")


# in đối tượng connection ra màn hình
print(myconn)


# def AlogrithmRating(myconn):
#     cursor = myconn.cursor()
#     sql="Update item Set analyst2=avgrating"
#     cursor.execute(sql)
#     myconn.commit()


def abc(myconn):
    v=[]
    R=[]
    kq=[]
    cursor = myconn.cursor()
    cursor.execute("SELECT SUM(star4) FROM item")
    c1=cursor.fetchone()[0]
    cursor.execute("SELECT SUM(star5) FROM item")
    c2=cursor.fetchone()[0]
    c=c1+c2
    print(c)
    cursor.execute("SELECT star1+star2+star3+star4+star5 from item")
    v=cursor.fetchall()
    v = np.array(v)
    m=float(1)
    print(m)
    print(type(float(m)))
    cursor.execute("SELECT star1+star2+star3+star4+star5 as suma,avgrating,id FROM item")
    RV=cursor.fetchall()
    for item in RV:
        vi = item[0]
        ri = item[1]
        id = item[2]
        abcd = 0
        if vi + m == 0:
            abcd = 0
            kq.append(abcd)
        elif ri==0:
            abcd=0
            kq.append(abcd)
        else:
            abcd = (vi/(vi+m))*ri+(m/(vi+m))*c
            kq.append(abcd)
        cursor.execute(f"UPDATE item set analyst2={abcd} where id={id}")
    myconn.commit()
print(abc(myconn))

<mysql.connector.connection.MySQLConnection object at 0x0000022748191F40>
51.0
1.0
<class 'float'>
None